{% load static %} {% include 'core/header.html' %} 

  {% include 'core/mapa_pets.html' %} 

<div class="container mt-1 busca">
    
	<div class="row mt-3">
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
			<div class="btn-group mt-1" role="group" aria-label="Basic radio toggle button group">
				<span>Busca por tipo:<span>
						<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio1">Gatos</label>
						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio2">Cachorros</label>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
			<div class="btn-group mt-1" role="group2" aria-label="Basic radio toggle button group">
				<span>Busca por distância:<span>
						<input type="radio" class="btn-check" name="btnradio1" id="btnradio_3" autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio_3">1km </label>
						<input type="radio" class="btn-check" name="btnradio1" id="btnradio_4" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio_4">10km </label>
						<input type="radio" class="btn-check" name="btnradio1" id="btnradio_5" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio_5">20km </label>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
			<div class="btn-group mt-1" role="group3" aria-label="Basic radio toggle button group">
				<span>Busca por data:<span>
						<input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio6">Mais recente </label>
						<input type="radio" class="btn-check" name="btnradio2" id="btnradio7" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio7">Mais antiga </label>
			</div>
		</div>
	</div>
	<br>
    
{% include 'core/lista_pets.html' %} 
  
    
	</div> {% include 'core/footer.html' %}