{% load static %} {% include 'core/header.html' %}

    <div class="container my-5">
      <h2 class=" mb-4">Perguntas Frequentes - SOS Pets</h2>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">O que é o SOS Pets?</h5>
        <p>O SOS Pets é uma plataforma para ajudar na localização de animais de estimação perdidos e facilitar a busca por animais achados. Nosso objetivo é reunir tutores e pessoas que encontraram pets, oferecendo recursos como cadastro de animais com geolocalização e fotos.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">Como faço para cadastrar um animal no SOS Pets?</h5>
        <p>Para cadastrar um pet, é necessário criar uma conta no SOS Pets. Após o login, acesse a seção de "Cadastrar Pet" e preencha o formulário com os dados do animal, incluindo fotos, localização aproximada do desaparecimento e descrição.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">Como funciona a geolocalização no SOS Pets?</h5>
        <p>Ao cadastrar um pet, você pode marcar o local onde o animal foi visto pela última vez. Usamos a API do Google Maps para exibir o local no mapa, facilitando a busca e localização do animal por outras pessoas próximas à área.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">É seguro cadastrar meus dados no SOS Pets?</h5>
        <p>Sim, levamos a privacidade e segurança dos dados a sério. Utilizamos criptografia para proteger as informações dos usuários, e você tem controle sobre o que deseja tornar visível aos outros.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">Como posso atualizar as informações do meu pet cadastrado?</h5>
        <p>Você pode atualizar as informações do seu pet acessando o painel de controle da sua conta, onde todos os dados cadastrados poderão ser modificados conforme necessário.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">O SOS Pets é gratuito?</h5>
        <p>Sim, o SOS Pets é uma plataforma gratuita. Nosso objetivo é facilitar o reencontro de animais de estimação com seus tutores e oferecer um serviço acessível a todos.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">Como posso remover o cadastro do meu pet?</h5>
        <p>Para remover o cadastro do seu pet, vá ao painel de controle e selecione a opção de exclusão. Caso tenha dificuldades, nossa equipe de suporte pode ajudar.</p>
      </div>
    
      <div class="faq-item mb-4">
        <h5 class="font-weight-bold">Como entro em contato com o suporte do SOS Pets?</h5>
        <p>Você pode entrar em contato com o suporte enviando uma mensagem por meio da seção "Suporte" no site. Estamos à disposição para ajudar com qualquer dúvida ou problema.</p>
      </div>
    
    </div>
    


</div> {% include 'core/footer.html' %}