     
      <div class="container">
         <div class="row">
               <div class="p-2">
                   
                   <br>    <br>    <br>
                   <h2>Esqueceu a sua senha?</h2>
                   <p>Enviaremos um e-mail com instruções de como redefinir a senha</p>

      <form method="POST">
                {% csrf_token %}                
               <div class="form-group">
                     <!-- Campo de Email -->
                     <label for="email">Email:</label>
                     <input type="email" id="email" name="email" class="form-control">
                  </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            
                {% if messages %}
                <ul class="mt-3">
                    {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
               
                  
    <br><br><br>
    
               </div></div></div>
    