
    {% load static %}  <!-- Carregar as tags estáticas -->



  {% include 'core/header.html' %}

    <div class="container text-center">
      <br><br>
        <h1>Bem-vindo ao SOS PETS</h1>
        <h2>Existimos para te ajudar</h2>
        <p>Um site onde você pode encontrar pets perdidos ou cadastrar pets encontrados. </p>


      </div>
      <div class="container">
      <div class="row mb-3 text-center">
        <div class="col-4 themed-grid-col"><a href="{% url 'login' %}"><img src="{% static 'img/Login.png' %}" alt="Logo sos pets"  width="70%"></a></div>
        <div class="col-4 themed-grid-col"><a href="{% url 'cadastro' %}"><img src="{% static 'img/Cadastro.png' %}" alt="Logo sos pets"  width="70%"></a></div>
        <div class="col-4 themed-grid-col"><a href="{% url 'vitrine' %}"><img src="{% static 'img/Vitrine.png' %}" alt="Logo sos pets"  width="70%"></a></div>
      </div>

      


    </div>



  {{pets}}

{% for pet in pets%}

       
          {{pet.nome}}
       {{pet.tipo}}
  
{%endfor%}
  

    {% include 'core/footer.html' %}

