{% load static %} <!-- Carregar as tags estáticas -->


<style>
    
    .card img {
    width: 100%; /* Ajusta a largura para o contêiner */
    height: 300px; /* Inicialmente sem altura */

    object-fit: cover; /* Corta as imagens proporcionalmente */
    object-position: center; /* Centraliza o conteúdo recortado */
    border-radius: 8px; /* Opcional: deixa as bordas arredondadas */
}
    .detalhes {height: 70px;}
    
    .card {margin-bottom: 20px;}
</style>



<div class="container form-container">
   <h1>Pets Cadastrados</h1>
   <div class="pets-container">
      <div class="row">
         {% for pet in pets %}
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card px-4 p-3" onclick="openModal('{{ pet.id }}')" style="cursor: pointer;">
               <!-- Carrossel Bootstrap para as imagens do pet -->
               <div id="carousel-{{ pet.id }}" >
                 
                        <img src="{{ pet.imagem1.url }}" class="d-block w-100" alt="Imagem do {{ pet.nome }}">
                     </div>
                     {% if pet.imagem_1 %}
                     <div>git checkout main 
                        <img src="{{ pet.imagem1.url }}" class="d-block w-100" alt="Imagem do {{ pet.nome }}">
                     </div>
                     {% endif %}
                     <!-- Adicione mais ifs se tiver mais imagens -->
              <br>
               <h3> {{ pet.nome }}</h3>
               <div class="d-flex">
                  {% if pet.tipo == 'encontrado' %}
                  <span class="btn  px-3 encontrado ">{{ pet.tipo|title }} em: {{ pet.data_hora | date:"d/m/Y" }}</span>
                  {% elif pet.tipo == 'perdido' %}
                  <span class="btn perdido px-3">{{ pet.tipo|title }} em: {{ pet.data_hora | date:"d/m/Y"}}</span>
                  {% else %}
                  <span class="btn btn-secondary px-3 perdido">{{ pet.tipo|title }} em: {{ pet.data_hora | date:"d/m/Y" }}</span>
                  {% endif %}
               </div>
               <br>
               <p class="detalhes">{{ pet.detalhes|slice:":50" }}{% if pet.detalhes|length > 100 %}...{% endif %}</p>
              <p><strong>Última localização conhecida</strong> <br>{{ pet.address|slice:":45" }}{% if pet.address|length > 45 %}...{% endif %}</p>

               <button class="btn btn-primary" onclick="openModal('{{ pet.id }}')">Ver detalhes</button>
            </div>
         </div>
         {% empty %}
         <p>Nenhum pet encontrado.</p>
         {% endfor %}
      </div>
   </div>
</div>
<!-- Modal -->
<div id="petModal" class="modal" style="display: none; z-index: 1;">
   <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div id="modalContent">
         <div id="mapModal" style="width: 100%; height: 400px;"></div>
         <!-- Contêiner para o mapa -->
      </div>
   </div>
</div>
<script>
   function openModal(petId) {
       fetch(`/detalhes_pet/${petId}/`)
           .then(response => response.text())
           .then(data => {
               document.getElementById('modalContent').innerHTML = data;
               document.getElementById('petModal').style.display = 'block';

               // Espera 500ms para garantir que o modal foi carregado
               setTimeout(initializeMap, 500);  // Ajuste o tempo de espera aqui se necessário
           })
           .catch(error => console.error('Erro ao carregar detalhes do pet:', error));
   }

    function initializeMap() {
       // Pega os valores de latitude e longitude do input oculto
       let petLatitude = parseFloat(document.getElementById('pet-latitude').value);
       let petLongitude = parseFloat(document.getElementById('pet-longitude').value);

       console.log('Latitude:', petLatitude, 'Longitude:', petLongitude);  // Verifique no console se as coordenadas estão corretas

       // Verifica se as coordenadas são válidas, caso contrário, usa um valor padrão
       if (isNaN(petLatitude) || isNaN(petLongitude)) {
           petLatitude = -23.5505;  // Latitude padrão
           petLongitude = -46.6333; // Longitude padrão
       }

       // Cria o mapa com a localização do pet
       let mapModal = L.map('mapModal').setView([petLatitude, petLongitude], 14);  // Zoom 14 para ver claramente o marcador

       // Adiciona a camada de tiles do OpenStreetMap
       L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
           maxZoom: 19,
       }).addTo(mapModal);

       // Cria o marcador inicial nas coordenadas do pet
       let marker = L.marker([petLatitude, petLongitude], {draggable: false}).addTo(mapModal); // O marcador não pode ser arrastado

       // Adiciona o pop-up com a localização
       marker.bindPopup(`<b>${pet.nome}</b><br>Última localização conhecida: ${pet.address}`).openPopup();

       // Caso o marcador tenha que ser movido (mesmo que para localização padrão), pode-se permitir isso
       marker.on('dragend', function (e) {
           document.getElementById("id_latitude").value = e.target.getLatLng().lat;
           document.getElementById("id_longitude").value = e.target.getLatLng().lng;
       });
   }

   // Chama a função para inicializar o mapa
   initializeMap();

   // Função para fechar o modal
   function closeModal() {
       document.getElementById('petModal').style.display = 'none';
   }
   
   
    // Função que busca a lista de pets e chama a função de adicionar marcadores
    function carregarPets() {
        fetch('/api/pets/')
            .then(response => response.json())
            .then(pets => {
                if (pets.length === 0) {
                    console.log("Nenhum pet encontrado!");
                } else {
                    adicionarMarcadores(pets);
                }
            })
            .catch(error => {
                console.error('Erro ao carregar pets:', error);
            });
    }
   
   
   
       carregarPets();

</script>



<!-- Estilo do Modal -->
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<br><br><br><br><br><br><br><br><br>