{% load static %}
{% include 'core/header.html' %}
<style>
   .img-quadrada {
   width: 100%;       /* Largura fixa */
   height: 200px;      /* Altura fixa */
   object-fit: cover;  /* Garante que a imagem preencha o quadrado sem distorção */
   object-position: top; /* Centraliza a imagem dentro do quadrado */
   border-radius: 8px; /* Opcional: arredonda os cantos */
   overflow: hidden;   /* Opcional: para garantir que a imagem não saia dos limites */
   }
</style>
<div class="container form-container">
   <h1>Seus pets Cadastrados</h1>
   <div class="row ">
      {% for pet in pets %}
      <div class="col col-sm-12	col-md-3 col-lg-3 col-xl-3 col-xxl-3 p-3">
         <img src="{{ pet.imagem1.url }}" class="img-quadrada" alt="Imagem do {{ pet.nome }}">
         {% if pet.imagem_1 %}
         git checkout main
         <img src="{{ pet.imagem1.url }}" class="d-block w-100" alt="Imagem do {{ pet.nome }}">
         {% endif %}
      </div>
      <div class="col col-sm-12	col-md-6 col-lg-6 col-xl-6 col-xxl-6 p-3">
      <span>{{ pet.id }} </span>
         <h3>{{ pet.nome }}</h3>
         {% if pet.tipo == 'encontrado' %}
         <span>{{ pet.tipo|title }} em: {{ pet.data_hora | date:"d/m/Y" }}</span>
         {% elif pet.tipo == 'perdido' %}
         <span >{{ pet.tipo|title }} em: {{ pet.data_hora | date:"d/m/Y"}}</span>
         {% else %}
         <span >{{ pet.tipo|title }} em: </span>
         {% endif %}
         <br>
         Em: {{ pet.address|slice:":45" }}
      </div>
       <div class="col col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 p-3">
         <p><a href="{% url 'vitrine_detalhes' %}" class="btn btn-info rounded-pill">Ver anúncio completo</a></p>
         <p><a href="{% url 'vitrine_detalhes' %}" class="btn btn-warning rounded-pill">Editar anúncio</a></p>
         <p><a href="{% url 'vitrine_detalhes' %}" class="btn btn-danger rounded-pill">Excluir anúncio</a></p>
      </div>
      {% empty %}
      <p>Nenhum pet encontrado.</p>
      {% endfor %}

   </div>

</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
{% include 'core/footer.html' %}